html,
body {
  text-align: center;
  background: #111;
  color: white;
  text-transform: uppercase;
  font-family: sans-serif;
}

#grid {
  display: inline-grid;
  grid-template-rows: repeat(6, 70px);
  grid-template-columns: repeat(5, 70px);
  gap: 5px;
  margin-bottom: 30px;
}

#grid div {
  border: 1px solid #333;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
}

#keyboard button {
  appearance: none;
  border: 1px solid #333;
  background: #333;
  color: white;
  font-size: 30px;
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 1;
  margin: 3px;
  text-transform: uppercase;
  border-radius: 3px;
}

#answer{
    display: none;
    color:#111;
}
#new-game{
    border:1px solid #333;
    background: #333;
    color:white;
    font-size:20px;
    width:150px;
    height:50px;
    text-transform: uppercase;
    border-radius: 5px;
}

/* modal style */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}